body{
	background:#1F1E1E;
}

.display-center{
	overflow: hidden;
	width: 80%;
	padding: 15px;
	background-color: #131212;
	margin: auto;
	border: 1px solid #27CE0B;
}

.display-menu{
	margin: 15px;

}
.container-menu{
	overflow: hidden;
	width: 80%;
	padding: 15px;
	background-color: #131212;
	margin: auto;
	border: 1px solid #FA4224;
}

.menu{
	list-style: none;
	float: right;
	padding: 0;
	margin: 0;
	font-size: 15px;
}

li{
	float: left;          /* coloca os itens lado a lado */
	margin-left: 15px;
}

.logo-menu{
	float: left;
	color: #D3D3D3;
	font-weight: 700;
}

a{
	text-decoration: none;
	color: #E9ECE9;
}


a:hover{
	color: #FA4224;
	font-weight: bold;
}

.titulo{
	color:#FA4224;
	text-align: center;
}

span{
	display: none;
}

.botao{
	width: 200px;
	font-size: 20px;
	display:inline-block;
	background-color: rgb(66, 209, 86);
	color: black;
	padding: 20px;
}

.botao2{
	width: 200px;
	font-size: 20px;
	display:inline-block;
	background-color: rgb(221, 43, 43);
	color: black;
	padding: 20px;
	text-align: center;
	
} 